---
---

@import
  "vendor/breakpoint/breakpoint",
  "themes",
  "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
  "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",
  "include/mixins",
  "vendor/susy/susy",
  "layout/reset",
  "layout/base",
  "include/utilities",
  "layout/tables",
  "layout/buttons",
  "layout/notices",
  "layout/masthead",
  "layout/navigation",
  "layout/footer",
  "syntax",
  "layout/forms",
  "layout/page",
  "layout/archive",
  "layout/sidebar",
  "layout/json_cv",
  "vendor/font-awesome/fontawesome",
  "vendor/font-awesome/solid",
  "vendor/font-awesome/brands"
;

/* 🔥 Now your overrides WILL work */

html[data-theme="dark"] textarea,
html[data-theme="dark"] input {
  background-color: #2a2a2a !important;
  color: #e0e0e0 !important;
  border: 1px solid #444 !important;
}


body {
  background-color: #f6f8fa !important;  /* GitHub light */
  color: #24292f;
}

/* ===== Page background (dark mode) ===== */

html[data-theme="dark"] body {
  background-color: #1e1e1e !important;  /* softer dark (not black) */
  color: #e0e0e0;
}

.author__avatar img {
  border-radius: 0 !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.author__name {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 1.2rem    !important; /* adjust size */
  font-weight: 600   !important; 
  margin-bottom: 20px !important; 
}

